<div class="legacy-audit-footer" dir="rtl">
  <div class="laf-cell">
    <label>مدخل المستند</label>
    <input type="text" [value]="creator()" disabled />
  </div>
  <div class="laf-cell">
    <label>تاريخ الإدخال</label>
    <input type="text" [value]="createdAt()" disabled />
  </div>
  <div class="laf-cell">
    <label>الجهاز المدخل</label>
    <input type="text" [value]="createMachine()" disabled />
  </div>
  <div class="laf-cell">
    <label>عدد مرات التعديل</label>
    <input type="text" [value]="editCount()" disabled />
  </div>
  <div class="laf-cell">
    <label>معدل المستند</label>
    <input type="text" [value]="updater()" disabled />
  </div>
  <div class="laf-cell">
    <label>تاريخ التعديل</label>
    <input type="text" [value]="updatedAt()" disabled />
  </div>
  <div class="laf-cell">
    <label>الجهاز المعدل</label>
    <input type="text" [value]="updateMachine()" disabled />
  </div>
</div>
